<div class="search-panel"
	ng-style="{
		height: 39 * scale_search + 'px',
		width: 450 * scale_search + 'px',
		'margin-top': 40 * scale_search + 'px'
	}">
	<input ng-style="{
		height: 30 * scale_search + 'px',
		width: 380 * scale_search + 'px',
		margin: 4 * scale_search + 'px',
		'font-size': 20 * scale_search + 'px',
		'margin-left': 7 * scale_search + 'px',
		'margin-top': 2 * scale_search + 'px',
	}" placeholder="Введите акционный продукт...">
	<button class="button" ng-style="{
		height: 30 * scale_search + 'px',
		width: 46 * scale_search + 'px',
		margin: 4 * scale_search + 'px',
		'background-size': 20 * scale_search + 'px auto'
	}"></button>
</div>