<div class="landing-header" stl="width:1000,padding-top:5">

	This is a demo application, that grabs "Daily Deals" from ebay.com every hour and shows the results in the custom interface with ability to filter.<br>

	This demo uses <a href="https://angularjs.org/">AngularJS</a> for the client-side and <a href="https://nodejs.org/en/">NodeJS</a>, <a href="http://expressjs.com/">ExpressJS</a>, <a href="http://www.mongoose.com/">Mongoose</a>, <a href="https://www.mongodb.com/">MongoDB</a>, <a href="https://nodejs.org/api/crypto.html">Crypto</a>, <a href="http://casperjs.org/">CasperJS</a>, <a href="http://phantomjs.org/">PhantomJS</a>, <a href="http://socket.io/">Socket.io</a> on server side.

	<search-panel></search-panel>
</div>